body
{
    font-family: verdana;
    font-size: 12px;
    color: #333333;
}

img
{
    border-style: none;
}


/* LINKS STYLING */
a
{
    text-decoration: none;
    color: #808080;
}

a:hover
{
    color: #000000;
    text-decoration: underline;
}

#container
{
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    width: 1000px;
}


.Lside
{
    width: 470px;
    float: left;
    margin: 0;
    padding: 0;
    border-right-style: solid;
    border-right-color: #666666;
    border-right-width: 3px;
}



.Rside
{
   
    float: left;
    padding: 0px;
    margin: 0px;
    width:520px;
}


  
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

