

/* CSS SPRITES */

/* DEPARTMENT CATEGORY */
.dept
{
    background-image: url('../images/base_sprites_img.png');
    width: 132px;
    height: 20px;
}

/*BRANDS CATEGORY */
.brands
{
    background-position: 0px -20px;
    background-image: url('../images/base_sprites_img.png');
    width: 132px;
    height: 20px;
}

/* T-SHIRT */
.t-shirt
{
    background-position: 0px -40px;
    background-image: url('../images/base_sprites_img.png');
    width: 23px;
    height: 31px;
}

/* PEN */
.pen
{
    background-position: -57px -40px;
    background-image: url('../images/base_sprites_img.png');
    width: 30px;
    height: 21px;
}



/* BULB */
.bulb
{
    background-position: -32px -40px;
    background-image: url('../images/base_sprites_img.png');
    width: 16px;
    height: 31px;
}